
exports.dbUser = 'exampleUser';
exports.dbPass = 'examplePassword';
exports.dbHost = 'example.com';

exports.mailGunApiKey = 'key-mailGun';
exports.mGunDomain = 'example.com';
exports.emailAddress = 'user@example.com';
